@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  font-family: Mulish;
  font-style: normal;
}

header,
main {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
}

.logo-name {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}

/* sections starts */

.explore-your-travel {
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  flex-shrink: 0;
  border-radius: 16px;
}

.explore-your-travel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 10px; */
}

.explore-container {
  /* padding-top: 10px;
  padding-left: 100px; */
}

.explore-container > h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
  padding-left: 280px;
}

.explore-container p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.time-range {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.3);
  width: 1000px;
  height: 84px;
  display: flex;
  align-items: center;
  padding-left: 180px;
  gap: 24px;
}

/* our popular tours sections */

.popular-tours {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

}
.popular-tour-content {
  width: 430px;
  height: 550px;
}

.popular-tour-content > h2 {
  color: #131318;
  text-align: center;
  /* font-family: Mulish;
  font-style: normal; */
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  text-align: left;
}

.popular-tour-content > p,
li {
  color: rgba(19, 19, 24, 0.7);
  /* font-family: Mulish;
  font-style: normal; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.tour-btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;

  text-align: center;
  /* font-family: Mulish;
  font-style: normal; */
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
}
.tour-img {
  width: 550px;
  height: 550px;
}

/* Destination section */
.destination {
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.destination-img {
  width: 100%;
  height: 100%;
}
.row-1,
.row-2,
.row-3 {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}



.destination-text > h2 {
  color: #131318;
  text-align: center;
  /* font-family: Mulish;
  font-style: normal; */
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.destination-text > p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  /* font-family: Mulish;
  font-style: normal; */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* why choose us section */

.why-choose-us {
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 0px;
  /* align-content: center; */
  justify-items: center;
}

.Choose-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
 
}

.Handpicked-hotel {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  width: 700px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  
}

.world-clss-service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
   width: 700px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  padding-top: 20px;
}

.price-gurantee {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
   width: 700px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
}

/* deals & discounts section */
.deals-discounts-img {
  background-image: url("../Images/pool\ seats.jpg");
  width: 1170px;
  height: 800px;
  background-size: cover;
  /* padding-top: 10px; */
}
.dd-box-1 {
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
}
.dd-box-2 {
  /* background-image: url("../Images/pool\ seats2.jpg"); */
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
}
.dd-box-3 {
  /* background-image: url("../Images/pool\ seats.jpg"); */
  width: 579px;
  height: 389px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid #fff;
}

.see-all-packages {
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  }





/* PERFECT PLACE SECTION */

.perfect-place {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.perfect-place-texts > h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
}

.perfect-place-texts > p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

..perfect-place-texts > ul {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
}

.pp-btn {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

/* newslatter section */
.newsleter {
  display: flex;
  justify-content: space-around;
  gap: 280px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.newsleter-content {
  display: ;
}
.news-form{
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.news-btn{
  border-radius: 8px;
  background: #FF5400;
  width: 393px;
  height: 52px;
  flex-shrink: 0;
}

/* footer section */
.footer {
  width: 100%;
  /* max-width: 1440px; */
  /* height: 502px; */
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
  /* align-items: center; */
}

.footer-container {
  /* justify-items: center;
    align-items: center; */
  width: 700px;
  height: 300px;
  padding: 150px 100px 100px 600px;
}

.footer-logo-name {
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
}

/* mobile responsive */
@media screen and (max-width: 600px) {

header,
main {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

nav{
  flex-direction: column;
  width: 280px;
  height: auto;
}
nav li{
  font-size: 13px;
}
.explore-your-travel {
  width: 335px;
  height: 483px;
  flex-shrink: 0;
  border-radius: 16px;
}
.explore-container{
  
}
.explore-container > h1 {
  color: #fff;
  font-size: 20px;
  width:200px ;
  height: 30px;
  /* padding-right: 0;
  padding-left: ; */
}

.explore-container > p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  width:300px ;
  height: auto;
  /* font-weight: 400; */
  /* line-height: 21px;  */
}

.time-range {
  width: 300px;
  height: auto;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
}


.popular-tours{
  flex-direction: column;
  width: 335px;
  height: 40p0x;
}


.popular-tours > h2{
  font size:20px;
 
}
.popular-tours > p{
  font size: 14px ;
  color: rgba(19, 19, 24, 0.70);
}


.row-1,
.row-2,
.row-3 {
  flex-direction: column;
}
/* .why-choose-us{
  flex-direction: column;
} */
.Choose-box{
  flex-direction: column;

}
.perfect-place{
  flex-direction: column;
}
.newsleter{
  flex-direction: column;
}

.tour-img{
  width: 335px;
  height: 483px;
  flex-shrink: 0;
  border-radius: 16px;
  padding-bottom: 50px;

}
.Choose-box{
  width: 335px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 16px;
}

.footer{
width: 375px;
height: 309px;
flex-shrink: 0;
align-items: center;
}

}